{% extends "pages/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="main container-fluid p-5">
    <table class="table table-striped table-hover">
        <thead>
            <td>#</td>
            <td>Label</td>
            <td>Name</td>
            <td>%</td>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <th>jacmine</th>
                <th>Lua</th>
                <th>0.5</th>
            </tr>

        </tbody>
      </table>
      <h1>{{main}}</h1>
      {% load static %}
    <img src="{% static 'img/hinhnen.jpg' %}" style="width: 100%;" alt="My image">
</div>
{% endblock %}
